
# 1. Dependencies (The heavy stuff we download)
node_modules
.pnp
.pnp.js

# 2. Build Outputs (The result of 'npm run build')
dist
dist-ssr
*.local

# 3. Mac & System Junk
.DS_Store
Thumbs.db

# 4. Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# 5. Environment Keys (Secrets)
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# 6. Vite Cache (Temporary speed files)
.vite
.vite-temp